.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}
.i-left {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  color: var(--skyblue);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  color: var(--gray);
  font-weight: 100;
  font-size: 14px;
  margin-top: 10px;
}
.i-button {
  width: 6rem;
  height: 2rem;
}
.i-icons {
  margin: top 3rem;
  display: flex;
  gap: 0rem;
}

.i-icons > * {
  transform: scale(0.5);
}
.i-icons > *:hover {
  cursor: pointer;
}
.i-right {
  /* flex: 1; */
 position: relative;
    width: 30rem;
    top: -2rem;
    height: 25rem;
}
.i-right > * {
  position: absolute;
  z-index: 1;
      
}

.i-right > :nth-child(1) {
  transform: scale(0.71);
  /* transform: scale(0.71); */
    left: -2.5rem;
    top: -6rem;
}
.i-right > :nth-child(2) {
  transform: scale(0.65) rotate(0.99turn);
      left: -4rem;
    top: -2.1rem;
}
.i-right > :nth-child(3) {
  transform: scale(0.3);
  left: -21rem;
  top: -25rem;
} 
.i-right > :nth-child(4) {
  transform: scale(0.7);
  left: -5rem;
  top: -1rem;
}

.blur {
  position: absolute;
  left: 19rem;
  top: -4rem;
  height: 10rem;
  width: 17rem;
  border-radius: 50%;
  background-color: #c96b6b;
  filter: blur(145px);
  z-index: -9;
}

@media screen and (max-width: 500px) {
  .intro {
    margin-top: 1rem;
    flex-direction: column;
    gap: 1rem;
    height: 49rem;
  }
  .i-right {
    transform: scale(0.55);
    left: -6rem;
    top: 1rem;
  }

  .i-right .blur {
    display: none;
  }

  .floting-div:nth-of-type(1) {
    top: -7rem !important;
  }
}
